<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <title>ToolLink助手-弹出页面</title>
        <meta charset="utf-8">
		<link rel="stylesheet" href="../static/css/toollink-popup.css" />
		<script type="text/javascript" src="../static/vendor/jquery-1.5/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../static/js/mod/mod_popup.js"></script>
        <script type="text/template" id="tool_template_new_datasource_content">
            <# for ( var i = 0; i < data.length; i++ ) { #>
                <li class="-x-grid" data-msgtype="ONLINE_TYPE" data-usefile="0">
                    <b></b><a title="<#=data[i].type#>【<#=data[i].description#>】"><span><#=data[i].type#></span></a>
                    <# for ( var j = 0; j < data[i].items.length; j++ ) { #>
                        <ul class="sub-toollink-function-list">
                            <li class="-x-grid" data-msgtype="ONLINE_URL" data-usefile="0" data-url="<#=data[i].items[j].url#>">
                                <b></b><a target="<#=data[i].items[j].target#>" title="<#=data[i].items[j].name#>【<#=data[i].items[j].description#>】（<#=data[i].items[j].url#>）"><span><#=data[i].items[j].name#></span></a>
                            </li>
                        </ul>
                    <# } #>
                </li>
            <# } #>
        </script>
    </head>
    <body>
    	<div class="toollink-function-title">ToolLink助手</div>
    	<ul class="toollink-function-list">

    	</ul>
        <div class="toollink-feedback">
            <a href="https://github.com/easonjim/HTML-DEV-ToolLink/issues" target="_blank" tabindex="-1">意见反馈</a>

            <span class="x-settings">
                <svg aria-hidden="true" class="octicon octicon-gear" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                    <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
                </svg>
                设置
            </span>
        </div>
    </body>
</html>
